<div class="container-fluid">
    <h2 class="text-center">Create a your Quote</h2>
    <hr>
    <form style="margin-left: 30%;">
        <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
        <div class="form-group">
  
            <label for="author">Author</label>
            <input type="author" class="form-control" id="author" [(ngModel)]="newQuote.author" name="author" #author='ngModel' style="width: 50%;" required>
            <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                <p>required name</p>
        </div>
        <div class="form-group">
            <label for="text">Quote</label>
            <textarea class="form-control" id="text" rows="4" [(ngModel)]="newQuote.name" name="text" #text="ngModel" style="width: 50%;" required></textarea>
            <div [hidden]="text.valid || text.pristine" class="alert alert-danger">
              <p>Quote is required</p>
            </div>
  
        </div>
        <div class="form-group">
  
            <label for="date">SUBMITED ON</label>
            <input type='date' [(ngModel)]="newQuote.date" name="date" #date="ngModel" required>
            <div [hidden]="date.valid || date.pristine" class="alert alert-danger">
              <p>Date is required</p>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Add Quote</button>
    
  </div>