<div style="margin-left: 20%;">
  <h1 style="text-align: center;">Quotes</h1>
  <div *ngFor='let quote of quotes; let i=index'>
    <p style="font-weight: bold;">{{quote.id}} , {{quote.author}}</p>
    <p>{{quote.name}}</p>
    <p>{{quote.submitter}}</p>
    <button class="btn btn-success" (click)='upVote(i)'>upvote {{quote.upVote}}</button>
    <button class="btn btn-primary" (click)='downVote(i)'>downvote {{quote.downVote}}</button>
    <button class="btn btn-danger" (click)='deleteQuote($event,i)'>Delete</button>
  </div>
</div>
<app-form-quote (addQuote)="addNewQuote($event)"></app-form-quote>

<div style="margin-left: 30%; margin-top: 20px;">
  <p style="font-weight: bold;">{{text}}</p>
  <h3>{{submitter}}</h3>
  <button class="btn btn-warning">upVote {{bestQuote}}</button>
  <button class="btn btn-danger"> downVote{{worstQuote}}</button>
  <button class="btn btn-dark" (click)='bestquote()'>BEST Quote</button>
  
  
</div>
